---
---

@import "colors";
@import "layout";

body {
  background: #f2f2f2;
}


body.legacy-release {
  filter: grayscale(55%) sepia(10%);
  
  .main::before {
    content: "This is a legacy release";
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 1rem 0 1rem 250px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: lighten($secondary-color, 40%);
  }
}

body.recent-release {
  // .main::before {
  //   content: "This is a new release!";
  //   font-weight: bold;
  //   text-align: center;
  //   display: block;
  //   padding: 0.5rem;
  //   border-radius: 0.25rem;
  //   margin: 1rem 0 1rem 250px;
  // }
  .header {
    .header-content {
      h1 {
        .new {
          font-size: 1rem;
          background-color: $secondary-color;
        }
      }
    }
  }
}

.gallery {
  margin-bottom: 2rem;
  
  img {
    transition: all 0.2s ease-in-out;
    border: 1px solid lighten($primary-color, 40%);
    margin: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    height: 120px;
    width: 180px;
    object-fit: cover;
    
    &:hover {
      filter: opacity(0.75);
      padding: 0;
    }
  }
}


.header {
  background: lighten($secondary-color, 50%);
}

.badge {
  box-shadow: none !important;
}

figcaption {
  display: none;
}

.json-datetime {
    display: block;
    color: #444;
    font-size: 0.8rem;
    padding-left: 1.5rem;
}

.stripe {
  background: $secondary-color;
  
  .banner {
    color: white;
  }
  .navbar {
    box-shadow: none;
    padding: 0;
    
    .dropdown-menu {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
      border-radius: 0.25rem;
      border: 1px solid #cbcbcb;
      width: 200px;
    }
    
    .dropdown-item {
      &:hover {
        background: lighten($secondary-color, 25%);
      }
    }
    .button {
      color: fade_out(#FFF, 0.1);
      background: lighten($secondary-color, 5%);
      border: 1px solid lighten($secondary-color, 15%);
      
      &.download {
        width: 200px;
        &::after {
          position: absolute;
          right: 1rem;
          top: 1rem;
        }
        &:hover, &.active {
          &::after {
            border-bottom: .3em solid;
            border-right: .3em solid transparent;
            border-top: 0;
            border-left: .3em solid transparent;
          }
        }
      }
      
      
      
      &:hover, &.active {
        color: #FFF;
        background: darken($secondary-color, 10%);
        &.download .fa {
          top: 3px;
        }
      }
    }
  }
}

.main {
  .content {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 0.25rem;
    background: #fbfbfbcc;
    border: 1px solid #cbcbcb;
  }
}