<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  </head>


  <body ng-app="flow123d" ng-controller="flow123dCtrl" class="{$ tags $}">
    <div id="watermark"><img src="/assets/img/logo.svg"></div>
    
    {% include header.html %}
    
    <div class="stripe">
      {% include banner.html %}
    </div>
    
    <main class="main {% if page.extra %}{{ page.extra }}{% endif %}">
      <div class="row">
        <div class="menu">
          {% include page-nav.html %}
        </div>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </main>
    
    {% include footer.html %}
    
  </body>
</html>